[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
python-dotenv = "*"
sqlalchemy = "*"
pandas = "*"
ctds = "*"
jupyter = "*"
ipython = "*"

[requires]
python_version = "3.7"
